/* dark #131d2e
smi dark #1f2a48
light blue #0178fd
white
*/
:root {
  --background-color-main: #131d2e;
  --background-color-secondary: #1f2a48;
  --main-color: #0178fd;
}
body, html, #root {
  background: var(--background-color-main);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:  center;
  align-items: center;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5 {
  color: white;
  margin: 10px 0;
}
.form-search {
  width: 100%;
  max-width: 95vw;
  background: var(--background-color-secondary);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.form-search input {
  width: 95%;
  border-radius: 20px;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 0;
  color: var(--background-color-main);
}
.form-search button {
  background: var(--main-color);
  color: white;
  padding: 10px 32px;
  border: 0;
  border-radius: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  color: white;
  margin-top: 40px;
  display: block;
  border-bottom: 1px solid;
}
.card {
  width: 100%;
  max-width: 95vw;
  background: var(--background-color-secondary);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 5vh;
  border-radius: 20px;
}
.card .info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  box-sizing: border-box;
}
.card  img {
  width: 100px;
}
.repo-list {
  height: 100%;
  max-height: 400px;
  overflow-y: scroll;
}
.repo-list li {
  list-style: none;
  color: white;
}
.repo-list li p {
  max-width: 400px;
  display: block;
  font-style: italic;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px){
  .form-search {
    max-width: 40vw;
  }
  .card {
    max-width: 40vw;
  }
}
